<!-- Main Section with Images and Typography -->
<section class="container-fluid">
  <div class="row">
    <!-- First Image -->
    <div class="col-12 col-md-6 text-white">
      <img src="../../assets/image 60 (2).png" class="img-fluid" alt="Image 1">
    </div>

    <!-- Second Image -->
    <div class="col-12 col-md-6 text-white">
      <img src="../../assets/Component 10.png" id="ass" class="img-fluid" alt="Component 10">
    </div>

    <!-- Third Image -->
    <div class="col-12 col-md-6 text-white">
      <img src="../../assets/Vector 1125.png" class="img-vector" alt="Vector 1125">
    </div>

    <!-- Fourth Image -->
    <div class="col-12 col-md-6 text-white">
      <img src="../../assets/Vector 1124.png" class="img-vector" alt="Vector 1124">   
    </div>

    <!-- Typography Section -->
    <div class="col-12 col-md-6 typography">
      <p>Unleash <br><span>Team Spirit</span></p>
      <p>Discover <br><span>Hidden Talents</span></p>
      <p>Conquer <br><span>Challenges</span></p>
    </div>

    <!-- Button Section -->
    <div class="col-12 col-md-6 text-gray text-center">
      <h6>Ready To Go On An Adventure?</h6>

      <button type="button" class="btn">See Plans</button>
    </div>
  </div>
</section>


<!-- About Section -->
<section class="About">
  <div class="ab text-center">
    <h5>About Sheriff’s Trial</h5>
    <p>Transform your corporate team-building experience with Sheriff’s Trial, the premier adventure and treasure hunt
      game designed specifically for Corporate Health Driven Events. Our unique game blends excitement, collaboration,
      and strategic thinking to create an unforgettable journey that not only entertains but also fosters stronger team
      dynamics and uncovers hidden talents within your organization.</p>
  </div>

  <div class="row mt-5">
    <!-- First Card -->
    <div class="col-md-4">
      <div class="card bg-white border-gray rounded-lg">
        <div class="card-body">
          <img src="../../assets/Group 1000006210.png" class="group">
          <h5>Embark Team <br>Collaboration</h5>
          <p>Embark on a series of challenges that require seamless teamwork, effective communication, and
            problem-solving skills. QuestQuest's immersive scenarios ensure that every participant contributes to the
            team's success, fostering a deeper sense of unity and cooperation.</p>
        </div>
      </div>
    </div>

    <!-- Second Card -->
    <div class="col-md-4">
      <div class="card bg-white border-gray rounded-lg">
        <div class="card-body">
          <img src="../../assets/Group 1000006209.png" class="group">
          <h5>Discover Health <br> Problems Before It's <br> Too Late</h5>
          <p>Our expertly crafted puzzles and tasks are designed to highlight individual health strengths and reveal
            hidden
            health problems. By placing your employees in diverse and health-related competition, Sheriff’s Trial helps
            you
            identify potential health problems and solutions for your team.</p>
        </div>
      </div>
    </div>

    <!-- Third Card -->
    <div class="col-md-4">
      <div class="card bg-white border-gray rounded-lg">
        <div class="card-body">
          <img src="../../assets/Group 1000006198.png" class="group">
          <h5>Boost Morale and <br>Engagement</h5>
          <p>Adventure and excitement are at the heart of QuestQuest. Our game infuses a sense of fun and adventure into
            the
            workplace, boosting morale and engagement. Participants return to work with renewed energy, a positive
            mindset,
            and a stronger bond with their colleagues.</p>
        </div>
      </div> 



      

    </div>
  </div>



  <div class="container py-5">
    <!-- First Section -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-center">
        <img src="../../assets/mobile1.png" alt="Game Screen 1" class="img-fluid mobile-frame">
      </div>
      <div class="col-md-6">
        <h1 class="text-content">Engage your teams with a fun time in office Treasure Hunt Health Tech Driven Games</h1>
      </div>
    </div>


    <div class="row justify-content-center mb-5">
      <div class="col-auto">
        <img src="../../assets/wave1.png" alt="Animated Icon" class="animated-icon">
        <img src="../../assets/bottle.png" alt="Animated Icon" class="hammer">


      </div>
    </div>

    <!-- Second Section -->
    <div class="row align-items-center">
      <div class="col-md-6 order-md-2 text-center">
        <img src="../../assets/mobile2.png" alt="Game Screen 2" class="img-fluid mobile-frame">
      </div>
      <div class="col-md-6 order-md-1">
        <h1 class="text-content">Multi Levels to Hunt from. Corporates love these puzzle games</h1>
      </div>
    </div>


    <div class="row justify-content-center mb-5">
      <div class="col-auto">
        <img src="../../assets/wave2.png" alt="Animated Icon" class="animated-icon">
        <img src="../../assets/bottle2.png" alt="Animated Icon" class="hammer2">

      </div>
    </div>


    <!-- Third Section -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-center">
        <img src="../../assets/mobile3.png" alt="Game Screen 1" class="img-fluid mobile-frame">
      </div>
      <div class="col-md-6">
        <h1 class="text-content">All tech driven, no human interaction in calculating scores or deciding winners.
          A fair game indeed!</h1>
      </div>
    </div>
  </div>



  <div class="container my-5 section-bg">
    <div class="row">
      <!-- Left Column with Laptop Image -->
      <div class="col-md-6 text-center">
        <img src="../../assets/computer.png" alt="Laptop" class="img-fluid">
      </div>
  
      <!-- Right Column with Text Content -->
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h2 class="main-heading">Have Hustle Free <br> Events!</h2>
        <div>
          <div class="feature-item">
            <img src="../../assets/tickIcon.png" alt="Green Tick" width="20">
            <span>Get Live Dashboard For HR</span>
          </div>
          <div class="feature-item">
            <img src="../../assets/tickIcon.png" alt="Green Tick" width="20">
            <span>Get Live Dashboard For Live Score</span>
          </div>
          <div class="feature-item">
            <img src="../../assets/tickIcon.png" alt="Green Tick" width="20">
            <span>Have The Employee Engagement You Wanted</span>
          </div>
        </div>
      </div>
  
     
      <div class="row mt-5 ">
        <!-- Left Column with Badge Image -->
        <div class="col-sm-2 text-center">
  
        </div>
  
        <!-- Right Column with Subscription Information -->
        <div class="col-md-12">
          <h4 class="main-heading">Subscription Plans</h4>
          <div class="row">
            <div class="col-4 col-md-4">
              <img src="../../assets/badge.png" alt="Yellow Badge" class="img-fluid">
            </div>
            <div class="col-8 col-md-6">
              <div class="subscription-item">
                <img src="../../assets/tickIcon.png" alt="Green Tick" width="20">
                <span>Team Customization</span>
              </div>
              <div class="subscription-item">
                <img src="../../assets/tickIcon.png" alt="Green Tick" width="20">
                <span>Level Customization</span>
              </div>
              <div class="subscription-item">
                <img src="../../assets/tickIcon.png" alt="Green Tick" width="20">
                <span>Report Customization</span>
              </div>
  
              <div class="subscription-item">
                <img src="../../assets/tickIcon.png" alt="Green Tick" width="20">
                <span>Advanced Data Export</span>
              </div>
              <div class="subscription-item">
                <img src="../../assets/tickIcon.png" alt="Green Tick" width="20">
                <span>Health Driven Corporate Events</span>
              </div>
              <p class="text-muted">Includes (for single gameplay)</p>
  
              <div class="subscription-item">
                <img src="../../assets/tickIcon.png" alt="Green Tick" width="20">
                <span>HR Dashboard (for gameplay & health reports)</span>
              </div>
              <div class="subscription-item">
                <img src="../../assets/tickIcon.png" alt="Green Tick" width="20">
                <span>Mobile Game (Android/iOS)</span>    
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
     
  
  
  
      <!-- Continue Button -->
      <div class="row mt-4">
        <div class="col-md-12 text-center">
          <button class="continue-button">100 INR/USER CONTINUE →</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="powered-container">
    <p class="powered-text">Powered By Watch Your Health</p>
    <img src="../../assets/logo.png" alt="Watch Your Health Logo" class="logo-image">
  </div>
  
  
  
  
</section>














<div class="subscript text-center">
  <img src="../../assets/jour.png" alt="Sheriff's Trial Logo" class="logo-left-image">
  <h2 class="header-text">Get Started At</h2>
  <p class="price">• 100 INR Per User</p>
  <p class="description">Enhance Your Team-Building With Sheriff's Trial, The Ultimate Adventure Game For Corporate
    Health Events. Combining Excitement, Collaboration, And Strategic Thinking, It Creates A Memorable Experience That
    Strengthens Team Dynamics And Uncovers Hidden Talents.</p>

  <form>
    <label for="name" class="form-label">Your Name</label>
    <input type="text" id="name" class="form-control" placeholder="John">

    <label for="email" class="form-label">Professional Email ID</label>
    <input type="email" id="email" class="form-control" placeholder="Enter Email ID">

    <label for="employees" class="form-label">Number of Employees</label>
    <input type="number" id="employees" class="form-control" placeholder="Total participating employees">
  </form>
</div>



<div class="thank-you-container">
  <img src="../../assets/jour.png" class="top-left-image">


  <div class="thank-you-text">
    <h2>Thank you for the purchase</h2>
    <p>Your Login Credentials Have Been Sent To Your Registered Email. Please Check Your Inbox.</p>
    <p>You Will Be Redirected To The Homepage In 5 Seconds...</p>
  </div>

  <img src="../../assets/last.png" alt="Bottom Left Decorative Image" class="bottom-left-image">
  <img src="../../assets/last2.png" alt="Bottom Left Decorative Image" class="bottom-center-image">
  <img src="../../assets/last3.png" alt="Bottom Left Decorative Image" class="bottom-right-image">
</div>